<!-- Header: begins -->
@Model  IEnumerable<Products>
<div class="header">
    <link href="Dashboard(initial).css" rel="stylesheet" />
    <link href="Dashboard(initial).js" rel="stylesheetJS" />
    <!-- Row Header: begins -->
    <div class="row-header">

        <!-- Header Left: begins -->
        <div class="col-3 header-left">

            <!-- Brand Name: begins -->
            <div class="brand-name">
                <img src="http://124.109.41.123/img/pizza-hut-vertical.png" style="display:none;" />
                <img src="http://124.109.41.123/img/pizza-hut-horizontal.png" />
            </div>
            <!-- Brand Name: ends -->

        </div>
        <!-- Header Left: ends -->
        <!-- Header Right: begins -->
        <div class="col-9 header-right">

            <div class="menu-items-wrap">

                <div class="logo-product">
                    <img src="http://124.109.41.123/img/pizza-hut-vertical.png" />
                </div>

                <nav class="menu-items">
                    <ul>
                        <li class="selected">
                            <a href="#">
                                <span class="mitem"></span>
                                <span class="mitem-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="separator"></li>
                        <li>
                            <a href="#">
                                <span class="mitem"></span>
                                <span class="mitem-text">Locations</span>
                            </a>
                        </li>
                        <li class="separator"></li>
                        <li>
                            <a href="#">
                                <span class="mitem"></span>
                                <span class="mitem-text">Sales</span>
                            </a>
                        </li>
                        <li class="separator"></li>
                        <li>
                            <a href="#">
                                <span class="mitem"></span>
                                <span class="mitem-text">License</span>
                            </a>
                        </li>
                        <li class="separator"></li>
                        <li>
                            <a href="#">
                                <span class="mitem"></span>
                                <span class="mitem-text">Admin</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>
        <!-- Header Right: ends -->

    </div>
    <!-- Row Header: ends -->

</div>
<!-- Header: ends -->
<!-- Content Wrap: begins -->
<div class="content-wrap">

    <!-- Content Inner: begins -->
    <div class="content-inner">

        <!-- Row Body: begins -->
        <div class="row-body">

            <!-- Left Side: begins -->
            <div class="col-3 left-side">

                <!-- Navigation: begins -->
                <nav class="navigation">

                    <!-- Menu: begins -->
                    <ul>
                        <li><a href="#">Manage Prices</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Options</a></li>
                        <li><a href="#">Sizes</a></li>
                        <li><a href="#">Tips</a></li>
                        <li><a href="#">Coupons</a></li>
                    </ul>
                    <!-- Menu: ends -->

                </nav>
                <!-- Navigation: begins -->

            </div>
            <!-- Left Side: ends -->
            <!-- Right Side: begins -->
            <div class="col-9 right-side">

                <!-- Main Contetn Wrap: begins -->
                <div class="main-content-wrap">

                    <p>Meat Lovers</p>
                    <p>The Angry Californian(Jonesy)</p>
                    <p>The Happy Texan</p>
                    <p>Hawaiian</p>
                    <p>Hawaiian Supreme</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                    <p>sdfsdf</p>
                </div>
                <!-- Main Contetn Wrap: ends -->

            </div>
            <!-- Right Side: ends -->

        </div>
        <!-- Row Body: ends -->

    </div>
    <!-- Content Inner: ends -->

</div>
<!-- Content Wrap: ends -->
<!-- Footer: begins -->
<div class="footer">Footer</div>
<!-- Footer: ends -->