@model  IEnumerable<Product>
                <table class="table table-bordered table-striped">
                    @foreach(var item in Model)
                    {
                      <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Description</td>
                      </tr>
                    }
                </table>
<div class="footer">Footer</div>
