@model  IEnumerable<Product>
                <table class="main-content-wrap">
                    @foreach(var item in Model)
                    {
                      <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Description</td>
                      </tr>
                    }
                </table>
                <!-- Main Contetn Wrap: ends -->

            </div>
            <!-- Right Side: ends -->

        </div>
        <!-- Row Body: ends -->

    </div>
    <!-- Content Inner: ends -->

</div>
<!-- Content Wrap: ends -->
<!-- Footer: begins -->
<div class="footer">Footer</div>
<!-- Footer: ends -->
