@{
    ViewData["Title"] = "Home Page";
    //Edit by Zach
    //Edit By Caleb
    //Test Marco
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>test</p>
        <p>Pizza Shop</p>
    </div>

